{
  "importOrder": [
    "^[a-z]",
    "^../",
    "^./"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "useTabs": true
}