.pill {
	--color-fill: transparent;
	--color-outline: #222;
	--color-foreground: #222;

	display: inline-block;
	padding: 0.25rem 0.75rem;
	border-radius: 1rem;

	background-color: var(--color-fill);
	border: 1px solid var(--color-outline);

	color: var(--color-foreground);
	font-weight: bold;
}

.pillActive {
	--color-fill: #222;
	--color-foreground: white;
}

.pillList {
	display: flex;
	padding: 0;
	margin: 0;

	flex-flow: row wrap;
	list-style-type: none;
	gap: 0.25rem;
}

.pillList + .pillList {
	margin-top: 0.5rem;
}
