.card {
	background-color: #1a2136;
	color: var(--color-foreground);
	border-radius: var(--border-radius-m);
	box-shadow: var(--elevation-1);
	overflow: hidden;
}

.content {
	padding: var(--step-0) var(--step--1);
}
