---
import { Index } from './Index.tsx';
import '../style.css';
---

<html lang="en-GB">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Counter-Strike: Global Offensive nades</title>
</head>

<body>
	<Index client:load />
</body>

</html>